.list-information__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap; }
  .list-information__row:nth-child(even) .list-information__item:nth-child(odd) {
    -webkit-box-ordinal-group: 2;
            order: 1; }
  @media only screen and (max-width: 650px) {
    .list-information__row .list-information__item:first-child {
      -webkit-box-ordinal-group: 2;
              order: 1;
      min-height: 260px !important; } }
  @media only screen and (max-width: 500px) {
    .list-information__row .list-information__item:first-child {
      min-height: 195px !important; } }

.list-information__item {
  flex-basis: 50%;
  max-width: 50%;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 40px; }
  @media only screen and (max-width: 1650px) {
    .list-information__item {
      padding: 40px; } }
  @media only screen and (max-width: 1400px) {
    .list-information__item {
      padding: 30px; } }
  @media only screen and (max-width: 1200px) {
    .list-information__item {
      padding: 20px 30px; } }
  @media only screen and (max-width: 800px) {
    .list-information__item {
      padding: 20px 15px; } }
  @media only screen and (max-width: 650px) {
    .list-information__item {
      flex-basis: 100%;
      max-width: 100%;
      min-height: auto !important;
      background-position: bottom center; } }
  @media only screen and (max-width: 500px) {
    .list-information__item {
      padding: 15px 15px; } }

.list-information__title {
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  text-transform: uppercase; }
  @media only screen and (max-width: 650px) {
    .list-information__title {
      margin-top: 15px; } }
  @media only screen and (max-width: 500px) {
    .list-information__title {
      font-size: 20px;
      letter-spacing: 1px;
      margin-top: 15px; } }

.list-information__descr {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 5px; }
  @media only screen and (max-width: 1400px) {
    .list-information__descr {
      line-height: 22px;
      margin-top: 15px; } }
  @media only screen and (max-width: 800px) {
    .list-information__descr {
      line-height: 20px; } }
  @media only screen and (max-width: 650px) {
    .list-information__descr {
      margin-top: 12px; } }
