.features__head-title {
  text-align: center;
  margin-top: 25px; }
  @media only screen and (max-width: 600px) {
    .features__head-title {
      text-align: left; } }

.features__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -9px;
  margin-top: 18px;
  margin-bottom: 18px; }
  @media only screen and (max-width: 900px) {
    .features__list {
      margin: 0 -4px;
      margin-top: 15px;
      margin-bottom: 15px; } }
  @media only screen and (max-width: 600px) {
    .features__list {
      margin-top: 20px;
      margin-bottom: 15px; } }

.features__col {
  padding: 0 9px;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0; }
  @media only screen and (max-width: 900px) {
    .features__col {
      padding: 0 3px; } }
  @media only screen and (max-width: 600px) {
    .features__col {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 6px; } }

.features__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  min-height: 216px;
  background: #fff;
  padding: 0 50px; }
  @media only screen and (max-width: 1100px) {
    .features__item {
      padding: 0 30px; } }
  @media only screen and (max-width: 900px) {
    .features__item {
      padding: 0 20px; } }
  @media only screen and (max-width: 600px) {
    .features__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      min-height: 80px;
      padding: 0 12px; } }

.features__numb {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-shrink: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  font-size: 30px;
  font-weight: 600;
  color: #444646;
  line-height: 58px;
  background: #f2f2f2;
  margin-top: 45px; }
  @media only screen and (max-width: 900px) {
    .features__numb {
      margin-top: 30px; } }
  @media only screen and (max-width: 600px) {
    .features__numb {
      width: 30px;
      height: 30px;
      font-size: 12px;
      margin-top: 0;
      margin-right: 10px; } }

.features__descr {
  font-size: 15px;
  text-align: center;
  line-height: 19px;
  margin-top: 25px;
  margin-bottom: 0; }
  @media only screen and (max-width: 800px) {
    .features__descr {
      font-size: 13px; } }
  @media only screen and (max-width: 600px) {
    .features__descr {
      margin-top: 0;
      text-align: left; } }
  @media only screen and (max-width: 1100px) {
    .features__descr br {
      display: none; } }
