.documentation__list-documentation {
  margin-top: 15px; }

.list-documentation {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap; }
  .list-documentation__item {
    flex-basis: 50%;
    max-width: 50%;
    margin: 10px 0; }
    @media only screen and (max-width: 600px) {
      .list-documentation__item {
        flex-basis: 100%;
        max-width: 100%; } }
  .list-documentation__link {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    padding-right: 20px; }
    .list-documentation__link:hover {
      -webkit-transform: translateX(2px);
              transform: translateX(2px); }
      .list-documentation__link:hover .list-documentation__name {
        color: #f66036;
        text-decoration: none; }
  .list-documentation__icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    fill: #f66036;
    margin-right: 15px; }
  .list-documentation__name {
    display: inline;
    text-decoration: underline;
    color: #444646;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    max-width: 370px; }
    @media only screen and (max-width: 600px) {
      .list-documentation__name {
        font-size: 13px;
        max-width: none; } }
  .list-documentation__read-more {
    width: calc(25% - 15px);
    margin-top: 25px; }
    @media only screen and (max-width: 900px) {
      .list-documentation__read-more {
        height: 54px; } }
    @media only screen and (max-width: 800px) {
      .list-documentation__read-more {
        width: calc(50% - 10px); } }
    @media only screen and (max-width: 600px) {
      .list-documentation__read-more {
        display: -webkit-box;
        display: flex;
        width: auto;
        margin: 0;
        margin-top: 20px; } }
    @media only screen and (max-width: 500px) {
      .list-documentation__read-more {
        margin-top: 15px; } }
