.infrastructure__row {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 70px; }
  @media only screen and (max-width: 1200px) {
    .infrastructure__row {
      margin-bottom: 50px; } }
  @media only screen and (max-width: 800px) {
    .infrastructure__row {
      margin-bottom: 37px; } }
  @media only screen and (max-width: 500px) {
    .infrastructure__row {
      margin-bottom: 10px; } }

.infrastructure__col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0; }
  .infrastructure__col_1 {
    flex-basis: 33.3333%;
    max-width: 33.3333%; }
    @media only screen and (max-width: 800px) {
      .infrastructure__col_1 {
        flex-basis: 100%;
        max-width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row; } }
    @media only screen and (max-width: 500px) {
      .infrastructure__col_1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    .infrastructure__col_1 .infrastructure__photo {
      width: 100%; }
      @media only screen and (max-width: 800px) {
        .infrastructure__col_1 .infrastructure__photo {
          width: 50%; } }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_1 .infrastructure__photo {
          width: 100%; } }
    .infrastructure__col_1 .infrastructure__info {
      width: 100%; }
      @media only screen and (max-width: 800px) {
        .infrastructure__col_1 .infrastructure__info {
          width: 50%; } }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_1 .infrastructure__info {
          width: 100%; } }
  .infrastructure__col_2 {
    flex-basis: 66.6666%;
    max-width: 66.6666%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 800px) {
      .infrastructure__col_2 {
        flex-basis: 100%;
        max-width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
                flex-direction: row-reverse; } }
    @media only screen and (max-width: 500px) {
      .infrastructure__col_2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    .infrastructure__col_2 .infrastructure__photo {
      flex-basis: 50%;
      max-width: 50%; }
      @media only screen and (max-width: 800px) {
        .infrastructure__col_2 .infrastructure__photo {
          width: 50%; } }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_2 .infrastructure__photo {
          flex-basis: 100%;
          max-width: 100%;
          width: 100%;
          -webkit-box-ordinal-group: 1;
                  order: 0; } }
    .infrastructure__col_2 .infrastructure__info {
      flex-basis: 50%;
      max-width: 50%; }
      @media only screen and (max-width: 800px) {
        .infrastructure__col_2 .infrastructure__info {
          flex-basis: 50%;
          max-width: 50%; } }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_2 .infrastructure__info {
          flex-basis: 100%;
          max-width: 100%;
          width: 100%; } }
  .infrastructure__col_3 {
    flex-basis: 66.6666%;
    max-width: 66.6666%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 800px) {
      .infrastructure__col_3 {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (max-width: 500px) {
      .infrastructure__col_3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    .infrastructure__col_3 .infrastructure__photo {
      flex-basis: 50%;
      max-width: 50%; }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_3 .infrastructure__photo {
          flex-basis: 100%;
          max-width: 100%; } }
    .infrastructure__col_3 .infrastructure__info {
      flex-basis: 50%;
      max-width: 50%; }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_3 .infrastructure__info {
          flex-basis: 100%;
          max-width: 100%; } }
  .infrastructure__col_4 {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    margin-top: -230px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse; }
    @media only screen and (max-width: 800px) {
      .infrastructure__col_4 {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
                flex-direction: row-reverse;
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 0; } }
    @media only screen and (max-width: 500px) {
      .infrastructure__col_4 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    .infrastructure__col_4 .infrastructure__photo {
      width: 100%; }
      @media only screen and (max-width: 800px) {
        .infrastructure__col_4 .infrastructure__photo {
          flex-basis: 50%; } }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_4 .infrastructure__photo {
          flex-basis: 100%;
          max-width: 100%; } }
    .infrastructure__col_4 .infrastructure__info {
      width: 100%; }
      @media only screen and (max-width: 800px) {
        .infrastructure__col_4 .infrastructure__info {
          flex-basis: 50%; } }
      @media only screen and (max-width: 500px) {
        .infrastructure__col_4 .infrastructure__info {
          flex-basis: 100%;
          max-width: 100%; } }
  .infrastructure__col_5 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 33.3333%;
    height: 230px; }
    @media only screen and (max-width: 800px) {
      .infrastructure__col_5 {
        display: none; } }
    .infrastructure__col_5 .infrastructure__photo {
      width: 100%; }

.infrastructure__photo {
  width: 100%;
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media only screen and (max-width: 500px) {
    .infrastructure__photo {
      min-height: 160px; } }

.infrastructure__info {
  min-height: 230px;
  background: #F2F2F2;
  padding: 0 50px; }
  @media only screen and (max-width: 1200px) {
    .infrastructure__info {
      padding: 0 30px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: center;
              justify-content: center; } }
  @media only screen and (max-width: 600px) {
    .infrastructure__info {
      padding: 0 20px; } }
  @media only screen and (max-width: 500px) {
    .infrastructure__info {
      min-height: auto;
      background: none;
      padding: 0;
      margin-bottom: 30px; } }

.infrastructure__title {
  font-size: 20px;
  margin-top: 50px; }
  @media only screen and (max-width: 1200px) {
    .infrastructure__title {
      margin-top: 0; } }
  @media only screen and (max-width: 1000px) {
    .infrastructure__title {
      font-size: 18px; } }
  @media only screen and (max-width: 700px) {
    .infrastructure__title {
      font-size: 16px; } }
  @media only screen and (max-width: 500px) {
    .infrastructure__title {
      margin-top: 12px; } }

.infrastructure__descr {
  line-height: 21px;
  margin-top: 15px;
  margin-bottom: 0; }
  @media only screen and (max-width: 1000px) {
    .infrastructure__descr {
      font-size: 13px;
      line-height: 18px;
      margin-top: 10px; } }
  @media only screen and (max-width: 500px) {
    .infrastructure__descr {
      line-height: 21px;
      margin-top: 5px; } }
