@media only screen and (max-width: 500px) {
  .about-text__head-title {
    margin-bottom: 5px; } }

.descr-block {
  position: relative; }
  .descr-block_active .descr-block__content {
    height: auto; }
  .descr-block_active .descr-block__read-more {
    margin-top: 0; }
  .descr-block__content {
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 500px) {
      .descr-block__content {
        height: 140px; } }
  .descr-block__read-more {
    display: none;
    border-bottom: 1px dotted #f66036;
    margin-top: 15px; }
    @media only screen and (max-width: 600px) {
      .descr-block__read-more {
        font-size: 13px; } }
    @media only screen and (max-width: 500px) {
      .descr-block__read-more {
        display: inline-block; } }
    .descr-block__read-more:hover {
      border-color: transparent; }
