.info-call {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  background: #f66036; }
  @media only screen and (max-width: 800px) {
    .info-call {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      padding: 30px; } }
  @media only screen and (max-width: 500px) {
    .info-call {
      padding: 25px 15px; } }
  .info-call__item {
    flex-basis: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    padding: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center; }
    @media only screen and (max-width: 1200px) {
      .info-call__item {
        padding: 30px; } }
    @media only screen and (max-width: 800px) {
      .info-call__item {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0; } }
    @media only screen and (max-width: 800px) {
      .info-call__item:nth-child(2) {
        -webkit-box-ordinal-group: 0;
                order: -1; } }
  .info-call__title {
    color: #fff;
    margin: 0;
    text-transform: uppercase; }
  .info-call__descr {
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 0; }
    @media only screen and (max-width: 800px) {
      .info-call__descr {
        line-height: 20px;
        margin-top: 10px; } }
  .info-call__svg {
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    display: inline-block;
    width: 76px;
    height: 76px;
    fill: #fff;
    margin-right: 15px; }
    @media only screen and (max-width: 1200px) {
      .info-call__svg {
        width: 50px;
        height: 50px; } }
    @media only screen and (max-width: 500px) {
      .info-call__svg {
        width: 40px;
        height: 40px;
        margin-right: 5px; } }
  .info-call__phone {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    font-size: 36px;
    font-family: "Montserrat", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff; }
    @media only screen and (max-width: 1400px) {
      .info-call__phone {
        font-size: 30px; } }
    @media only screen and (max-width: 800px) {
      .info-call__phone {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 500px) {
      .info-call__phone {
        margin-bottom: 10px; } }
  .info-call__numb {
    color: #fff; }
    @media only screen and (max-width: 500px) {
      .info-call__numb {
        font-size: 18px; } }
    .info-call__numb:hover {
      color: #fff; }
