.dinamic-build {
  position: relative; }
  .dinamic-build__list-year-build {
    margin-top: 30px; }
    @media only screen and (max-width: 500px) {
      .dinamic-build__list-year-build {
        margin-top: 10px; } }
  .dinamic-build__list-month-build {
    margin-top: 10px; }
  .dinamic-build__module-slider {
    margin-top: 25px; }
    @media only screen and (max-width: 500px) {
      .dinamic-build__module-slider {
        margin-top: 17px; } }
  @media only screen and (max-width: 720px) {
    .dinamic-build__scroll {
      position: relative;
      overflow-y: hidden;
      overflow-x: scroll; } }
  .dinamic-build__scroll::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .dinamic-build__swipe-icon {
    position: absolute;
    top: 90px;
    right: 20px; }
    @media only screen and (max-width: 720px) {
      .dinamic-build__swipe-icon {
        display: -webkit-box !important;
        display: flex !important; } }
    @media only screen and (max-width: 500px) {
      .dinamic-build__swipe-icon {
        top: 65px;
        right: 20px; } }

.swipe-icon {
  z-index: 20;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(62, 62, 62, 0.7);
  display: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  .swipe-icon_hide {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
    visibility: hidden; }
  .swipe-icon:before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 4px solid transparent;
    margin-right: 1.5px; }
  .swipe-icon:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 5px solid #fff;
    border-bottom: 4px solid transparent;
    margin-left: 1.5px; }

.list-year-build {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }
  .list-year-build__field {
    margin-right: 12px;
    margin-bottom: 6px; }
    @media only screen and (max-width: 800px) {
      .list-year-build__field {
        margin-right: 6px;
        margin-bottom: 6px; } }
  .list-year-build__input {
    display: none; }
  .list-year-build__label {
    display: block;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #9f9f9f;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 5px 15px;
    background: transparent;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    @media only screen and (max-width: 800px) {
      .list-year-build__label {
        font-size: 16px;
        padding: 2px 8px; } }
    .list-year-build__label:hover {
      color: #f66036; }
  .list-year-build__input:checked + .list-year-build__label {
    color: #fff;
    background: #f66036; }

.list-month-build {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }
  .list-month-build__field {
    margin-right: 10px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 1000px) {
      .list-month-build__field {
        margin-right: 10px;
        margin-bottom: 4px; } }
  .list-month-build__input {
    display: none; }
  .list-month-build__label {
    display: block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    color: #9f9f9f;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px 10px;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    @media only screen and (max-width: 1000px) {
      .list-month-build__label {
        font-size: 13px;
        padding: 1px 2px; } }
    .list-month-build__label:hover {
      color: #f66036; }
  .list-month-build__input:checked + .list-month-build__label {
    color: #444646;
    border-color: #f66036; }
