.popular-queries__list-queries {
  margin-top: 23px; }
  @media only screen and (max-width: 900px) {
    .popular-queries__list-queries {
      margin-top: 12px; } }

.list-queries {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap; }
  .list-queries__item {
    padding: 7px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #444646;
    letter-spacing: 0.2px;
    background: #fff; }
    @media only screen and (max-width: 900px) {
      .list-queries__item {
        font-size: 13px;
        padding: 8px 12px;
        margin-right: 6px;
        margin-bottom: 6px; } }
