.descr-block {
  position: relative; }
  .descr-block_active .descr-block__content {
    height: auto; }
  .descr-block__content {
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 500px) {
      .descr-block__content {
        height: 140px; } }
  .descr-block__read-more {
    display: none;
    border-bottom: 1px dotted #f66036; }
    @media only screen and (max-width: 600px) {
      .descr-block__read-more {
        font-size: 13px; } }
    @media only screen and (max-width: 500px) {
      .descr-block__read-more {
        display: inline-block; } }
    .descr-block__read-more:hover {
      border-color: transparent; }

.about-info_active .about-info__hidden-content {
  display: block; }

.about-info__descr {
  line-height: 21px;
  margin: 20px 0; }
  @media only screen and (max-width: 900px) {
    .about-info__descr {
      font-size: 13px; } }

@media only screen and (max-width: 600px) {
  .about-info__hidden-content {
    display: none; } }

.about-info__read-more {
  display: none;
  margin-top: -20px;
  letter-spacing: 0.3px;
  text-decoration: underline; }
  @media only screen and (max-width: 600px) {
    .about-info__read-more {
      display: block;
      font-size: 13px; } }
  .about-info__read-more:hover {
    text-decoration: none; }
