.company-preview {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin: 0 -5px; }
  @media only screen and (max-width: 900px) {
    .company-preview {
      flex-wrap: wrap;
      margin: 0 -5px;
      margin-top: 0; } }
  .company-preview__col {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    padding: 0 5px; }
    @media only screen and (max-width: 900px) {
      .company-preview__col {
        padding: 0 5px; } }
    @media only screen and (max-width: 375px) {
      .company-preview__col {
        margin: 0; } }
  .company-preview__col_left {
    flex-basis: 66.6666%;
    max-width: 66.6666%; }
    @media only screen and (max-width: 1100px) {
      .company-preview__col_left {
        flex-basis: 60%;
        max-width: 60%; } }
    @media only screen and (max-width: 900px) {
      .company-preview__col_left {
        flex-basis: 100%;
        max-width: 100%; } }
  .company-preview__col_right {
    flex-basis: 33.3333%;
    max-width: 33.3333%; }
    @media only screen and (max-width: 1100px) {
      .company-preview__col_right {
        flex-basis: 40%;
        max-width: 40%; } }
    @media only screen and (max-width: 900px) {
      .company-preview__col_right {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (max-width: 500px) {
      .company-preview__col_right {
        margin-bottom: 0; } }
  .company-preview__info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 100%; }
    @media only screen and (max-width: 900px) {
      .company-preview__info {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: start;
                justify-content: flex-start;
        flex-wrap: wrap;
        height: auto;
        min-height: auto;
        margin-top: 10px; } }
    @media only screen and (max-width: 600px) {
      .company-preview__info {
        display: block;
        flex-wrap: wrap;
        margin: 0 -20px;
        margin-top: 10px; } }
  .company-preview__top {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    width: 100%;
    height: calc(50% - 5px); }
    @media only screen and (max-width: 900px) {
      .company-preview__top {
        flex-basis: 50%;
        max-width: 50%;
        height: auto;
        margin-top: 0; } }
    @media only screen and (max-width: 600px) {
      .company-preview__top {
        flex-basis: 100%;
        max-width: 100%;
        height: 120px; } }
  .company-preview__bottom {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 100%;
    height: calc(50% - 5px);
    background-color: #f2f2f2;
    padding: 20px 20px;
    margin-top: 10px; }
    @media only screen and (max-width: 1200px) {
      .company-preview__bottom {
        padding: 20px; } }
    @media only screen and (max-width: 900px) {
      .company-preview__bottom {
        flex-basis: 50%;
        max-width: 50%;
        width: auto;
        height: auto;
        padding-right: 85px;
        margin-right: 0;
        margin-top: 0; } }
    @media only screen and (max-width: 600px) {
      .company-preview__bottom {
        flex-basis: 100%;
        max-width: 100%;
        margin-right: 0; } }
  .company-preview__col-bottom {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0; }
    .company-preview__col-bottom_left {
      flex-basis: 60%;
      max-width: 60%;
      padding-right: 20px; }
    .company-preview__col-bottom_right {
      flex-basis: 40%;
      max-width: 40%; }
  .company-preview__circle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%; }
    @media only screen and (max-width: 1200px) {
      .company-preview__circle {
        height: 70px;
        width: 70px;
        top: 10px;
        right: 10px; } }
    @media only screen and (max-width: 900px) {
      .company-preview__circle {
        height: 60px;
        width: 60px; } }
    .company-preview__circle img {
      width: 60%;
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
  .company-preview__info-title {
    font-size: 26px;
    font-family: "Oswald", "Arial", sans-serif;
    margin: 0;
    margin-bottom: 3px; }
    @media only screen and (max-width: 1100px) {
      .company-preview__info-title {
        font-size: 24px; } }
    @media only screen and (max-width: 700px) {
      .company-preview__info-title {
        font-size: 20px; } }
    @media only screen and (max-width: 750px) {
      .company-preview__info-title span {
        display: block; } }
  .company-preview__descr {
    margin: 0; }
    @media only screen and (max-width: 1024px) {
      .company-preview__descr {
        font-size: 14px; } }
    @media only screen and (max-width: 500px) {
      .company-preview__descr {
        font-size: 13px; } }
  .company-preview__title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0; }
  .company-preview__address-descr {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.4px;
    margin: 0;
    margin-top: 5px; }
    @media only screen and (max-width: 650px) {
      .company-preview__address-descr {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0;
        margin-top: 4px; } }
  .company-preview__map-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .company-preview__img-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }

.trim__head-title {
  margin-top: 0;
  margin-bottom: 20px; }

@media only screen and (max-width: 600px) {
  .slider {
    margin: 0 -20px; } }

.slider__item {
  position: relative;
  height: 480px; }
  @media only screen and (max-width: 900px) {
    .slider__item {
      height: 370px; } }
  @media only screen and (max-width: 600px) {
    .slider__item {
      height: 260px; } }
  .slider__item:after {
    display: block;
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(45%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.7) 100%); }
    @media only screen and (max-width: 600px) {
      .slider__item:after {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%); } }

.slider__info {
  z-index: 2;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  max-width: 50%;
  padding: 0 30px; }
  @media only screen and (max-width: 800px) {
    .slider__info {
      max-width: none; } }
  @media only screen and (max-width: 600px) {
    .slider__info {
      bottom: 45px;
      padding: 0; } }

.slider__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  margin: 0;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8); }
  @media only screen and (max-width: 600px) {
    .slider__title {
      padding: 0 50px; } }

.slider__descr {
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0; }
  @media only screen and (max-width: 600px) {
    .slider__descr {
      font-size: 12px;
      line-height: 16px;
      padding: 0 50px;
      margin-top: 10px; } }

.slider__play {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.slider__icon-play {
  width: 105px;
  height: 105px; }
  @media only screen and (max-width: 1650px) {
    .slider__icon-play {
      width: 80px;
      height: 80px; } }
  @media only screen and (max-width: 500px) {
    .slider__icon-play {
      width: 65px;
      height: 65px; } }

.module-slider {
  position: relative; }
  @media only screen and (max-width: 500px) {
    .module-slider {
      margin: 0 -20px; } }
  .module-slider__container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; }
  @media only screen and (max-width: 1000px) {
    .module-slider__content {
      position: relative; } }
  .module-slider__inner {
    position: relative; }
  .module-slider__name {
    position: absolute;
    bottom: 45px;
    left: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #444646;
    padding: 8px 23px; }
    @media only screen and (max-width: 500px) {
      .module-slider__name {
        bottom: 30px;
        font-size: 14px;
        padding: 10px 23px; } }
  @media only screen and (max-width: 600px) {
    .module-slider__info {
      padding: 0 20px; } }
  .module-slider__info-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start; }
    @media only screen and (max-width: 600px) {
      .module-slider__info-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
  .module-slider__title {
    display: -webkit-box;
    display: flex;
    margin-right: 20px;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    margin-top: 18px;
    margin-bottom: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase; }
    @media only screen and (max-width: 800px) {
      .module-slider__title {
        font-size: 16px; } }
    @media only screen and (max-width: 600px) {
      .module-slider__title {
        font-size: 14px;
        margin-top: 15px; } }
  .module-slider__descr {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex-grow: 1;
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    color: #8D8D8D; }
    @media only screen and (max-width: 800px) {
      .module-slider__descr {
        font-size: 13px;
        line-height: 16px;
        margin-top: 18px; } }
    @media only screen and (max-width: 600px) {
      .module-slider__descr {
        margin-top: 8px; } }
  .module-slider__prev {
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 900px) {
      .module-slider__prev {
        width: 50px;
        height: 50px;
        left: 20px; } }
    @media only screen and (max-width: 500px) {
      .module-slider__prev {
        width: 38px;
        height: 38px;
        left: 15px; } }
    .module-slider__prev:hover {
      background: rgba(0, 0, 0, 0.7); }
  .module-slider__next {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 900px) {
      .module-slider__next {
        width: 50px;
        height: 50px;
        right: 20px; } }
    @media only screen and (max-width: 500px) {
      .module-slider__next {
        width: 38px;
        height: 38px;
        right: 15px; } }
    .module-slider__next:hover {
      background: rgba(0, 0, 0, 0.7); }
  .module-slider__icon-left {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-left: -4px; }
    @media only screen and (max-width: 500px) {
      .module-slider__icon-left {
        width: 12px;
        height: 12px; } }
  .module-slider__icon-right {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-left: 4px; }
    @media only screen and (max-width: 500px) {
      .module-slider__icon-right {
        width: 12px;
        height: 12px; } }
  .module-slider__nav {
    position: absolute;
    bottom: 18px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 500px) {
      .module-slider__nav {
        bottom: 10px; } }
  .module-slider__dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 0 6px;
    cursor: pointer; }
    @media only screen and (max-width: 500px) {
      .module-slider__dot {
        width: 6px;
        height: 6px; } }
    .module-slider__dot_active {
      background: #f66036;
      width: 16px;
      height: 16px; }
      @media only screen and (max-width: 500px) {
        .module-slider__dot_active {
          width: 12px;
          height: 12px; } }
