.about-district__head-title {
  margin-bottom: 5px; }

.about-district__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap; }

.about-district__col {
  flex-basis: 33.3%;
  max-width: 33.3%;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0; }
  @media only screen and (max-width: 950px) {
    .about-district__col {
      flex-basis: 50%;
      max-width: 50%; } }
  @media only screen and (max-width: 550px) {
    .about-district__col {
      flex-basis: 100%;
      max-width: 100%; } }

.about-district__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 30px; }
  @media only screen and (max-width: 950px) {
    .about-district__item {
      margin-top: 20px; } }

.about-district__icon {
  width: 60px;
  height: 60px;
  fill: #f66036; }
  @media only screen and (max-width: 950px) {
    .about-district__icon {
      width: 50px;
      height: 50px; } }
  @media only screen and (max-width: 700px) {
    .about-district__icon {
      width: 40px;
      height: 40px; } }

.about-district__info {
  padding-left: 20px; }

.about-district__title {
  font-size: 14px;
  color: #939598;
  margin: 0; }
  @media only screen and (max-width: 700px) {
    .about-district__title {
      font-size: 12px; } }

.about-district__descr {
  font-size: 20px;
  font-weight: 700;
  color: #444646;
  margin-top: 0;
  margin-bottom: 0; }
  @media only screen and (max-width: 1100px) {
    .about-district__descr {
      font-size: 18px; } }
  @media only screen and (max-width: 950px) {
    .about-district__descr {
      font-size: 16px; } }
