.offer__head {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 700px) {
    .offer__head {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

.list-offer {
  width: 100%; }
  .list-offer_active .list-offer__hidden-content {
    display: -webkit-box;
    display: flex; }
  .list-offer__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin: 0 -10px;
    margin-top: 30px; }
    @media only screen and (max-width: 900px) {
      .list-offer__row {
        margin-top: 22px; } }
    @media only screen and (max-width: 650px) {
      .list-offer__row {
        -webkit-box-pack: center;
                justify-content: center; } }
  .list-offer__col {
    flex-basis: 300px;
    max-width: 300px;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    padding: 0 10px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 920px) {
      .list-offer__col_3 {
        display: none; } }
    @media only screen and (max-width: 1220px) {
      .list-offer__col_4 {
        display: none; } }
  .list-offer__item {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 100%;
    min-height: 400px;
    background: #fff; }
    .list-offer__item_big {
      min-height: 484px; }
  .list-offer__close {
    z-index: 5;
    position: absolute;
    top: 8px;
    right: 8px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    opacity: 0.55; }
    .list-offer__close:hover {
      opacity: 0.8; }
  .list-offer__close-icon {
    width: 9px;
    height: 9px;
    fill: #fff; }
  .list-offer__preview {
    position: relative; }
  .list-offer__img-preview {
    display: block;
    width: 100%;
    height: 164px;
    -o-object-fit: cover;
       object-fit: cover; }
  .list-offer__deadline {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    background: #f66036;
    padding: 0 15px;
    font-size: 12px;
    color: #fff;
    line-height: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
  .list-offer__views {
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.6);
    height: 32px;
    padding: 0 8px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 10px; }
    @media only screen and (max-width: 900px) {
      .list-offer__views {
        font-size: 13px; } }
  .list-offer__views-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-right: 5px; }
  .list-offer__img {
    display: block;
    height: 124px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 30px auto 5px auto; }
  .list-offer__info {
    display: block;
    width: 100%;
    padding: 15px 20px 0 20px; }
  .list-offer__name {
    font-size: 16px;
    font-weight: 600;
    color: #444646; }
    .list-offer__name:hover {
      color: #f66036; }
    .list-offer__name_big {
      font-size: 18px;
      margin-bottom: -10px; }
  .list-offer__address {
    position: relative;
    overflow: hidden;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .list-offer__offer-metro {
    margin-top: 10px; }
  .list-offer__offer-list-descr {
    margin: 10px 0; }
  .list-offer__offer-descr-inline {
    margin: 12px 0;
    line-height: 19px; }
    .list-offer__offer-descr-inline_rooms {
      min-height: 80px; }
  .list-offer__hidden-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    display: none; }
    @media only screen and (max-width: 650px) {
      .list-offer__hidden-content {
        -webkit-box-pack: center;
                justify-content: center; } }
  .list-offer__show-more {
    width: 100%;
    flex-basis: calc(25% - 15px);
    max-width: calc(25% - 15px); }
    @media only screen and (max-width: 1200px) {
      .list-offer__show-more {
        flex-basis: calc(33.3333% - 10px);
        max-width: calc(33.3333% - 10px); } }
    @media only screen and (max-width: 900px) {
      .list-offer__show-more {
        flex-basis: calc(50% - 10px);
        max-width: calc(50% - 10px); } }
    @media only screen and (max-width: 600px) {
      .list-offer__show-more {
        flex-basis: 100%;
        max-width: 100%; } }

.offer-price {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  white-space: nowrap; }
  .offer-price__full {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: #f66036; }
    .offer-price__full:after {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      right: -4px;
      width: 1px;
      height: 20px;
      background: #D4D4D4;
      display: block;
      content: ""; }
  .offer-price__credit {
    display: inline-block;
    font-size: 12px;
    margin-left: 7px;
    white-space: nowrap; }

.offer-metro {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }
  .offer-metro__name {
    position: relative;
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    font-size: 13px; }
    .offer-metro__name:before {
      display: inline-block;
      content: "";
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      -webkit-box-flex: 0;
              flex-grow: 0;
      background: #eb5c5d;
      border-radius: 50%;
      margin-right: 5px; }
  .offer-metro__road {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    font-size: 13px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center; }
  .offer-metro__icon {
    width: 16px;
    height: 16px;
    fill: #c8c8c8;
    margin-right: 5px; }

.offer-list-descr {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }
  .offer-list-descr__item {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    font-size: 13px; }
    .offer-list-descr__item:first-child {
      margin-right: 20px; }
  .offer-list-descr__title {
    display: block;
    color: #8D8D8D; }

.offer-descr-inline {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%; }
  .offer-descr-inline__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: nowrap;
    width: 100%; }
  .offer-descr-inline__title {
    display: inline;
    font-size: 13px;
    white-space: nowrap;
    color: #8D8D8D;
    margin-right: 4px; }
  .offer-descr-inline__descr {
    display: inline;
    font-size: 13px;
    white-space: nowrap;
    color: #444646; }
    .offer-descr-inline__descr_orange {
      color: #f66036; }
    .offer-descr-inline__descr_green {
      color: #409945; }
  .offer-descr-inline__link {
    display: inline;
    font-size: 11px;
    white-space: nowrap;
    letter-spacing: -0.3px;
    margin-left: 10px;
    border-bottom: 1px dotted #f66036; }
    .offer-descr-inline__link:hover {
      border-color: transparent; }

.offer-descr-done {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 42px 0; }
  .offer-descr-done__circle {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #cacaca; }
  .offer-descr-done__icon {
    width: 20px;
    height: 20px;
    fill: #fff; }
  .offer-descr-done__descr {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px; }

.offer-btns-inline {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin: 0 -5px; }
  .offer-btns-inline__link {
    flex-basis: 50%;
    max-width: 50%;
    margin: 0 4px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    height: 27px;
    font-size: 11px;
    color: #fff;
    background: #f66036; }
    .offer-btns-inline__link_left {
      color: #444646;
      background: #e8e8e8; }
      .offer-btns-inline__link_left:hover {
        color: #444646;
        background: #dbdbdb; }
    .offer-btns-inline__link_right {
      color: #fff;
      background: #f66036; }
      .offer-btns-inline__link_right:hover {
        color: #fff;
        background: #f54d1e; }

.location {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }
  @media only screen and (max-width: 700px) {
    .location {
      margin-top: 10px; } }
  .location_active .location__toggle:after {
    left: 32px; }
  .location__field {
    position: relative; }
  .location__toggle {
    position: relative;
    width: 48px;
    height: 28px;
    border-radius: 14px;
    background: #fff;
    border: 1px solid #c8c8c8;
    margin: 0 8px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    @media only screen and (max-width: 900px) {
      .location__toggle {
        margin: 0 6px; } }
    .location__toggle:after {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 14px;
      margin-left: -9px;
      display: block;
      content: "";
      background: #f66036;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      -webkit-transition: all 300ms ease;
      transition: all 300ms ease; }
  .location__input {
    display: none; }
  .location__text {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    white-space: nowrap;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    color: #444646;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    text-align: center; }
    @media only screen and (max-width: 900px) {
      .location__text {
        font-size: 13px; } }
  .location__bold {
    font-weight: 700;
    opacity: 0;
    visibility: hidden; }
  .location__link {
    font-size: 14px;
    color: #444646; }
    @media only screen and (max-width: 900px) {
      .location__link {
        font-size: 13px; } }
    .location__link:hover {
      color: #f66036; }
  .location__input:checked + .location__text {
    color: #eb5c5d;
    font-weight: 700; }
