.banklist__more-banks {
  width: calc(25% - 15px);
  margin-top: 25px; }
  @media only screen and (max-width: 900px) {
    .banklist__more-banks {
      height: 54px; } }
  @media only screen and (max-width: 800px) {
    .banklist__more-banks {
      width: calc(50% - 10px); } }
  @media only screen and (max-width: 600px) {
    .banklist__more-banks {
      display: -webkit-box;
      display: flex;
      width: auto;
      margin: 0;
      margin-top: 20px; } }
  @media only screen and (max-width: 500px) {
    .banklist__more-banks {
      margin-top: 20px; } }

.table-banks {
  position: relative;
  width: 100%; }
  .table-banks__swipe-icon {
    position: absolute;
    top: 58px;
    right: 10px; }
    @media only screen and (max-width: 600px) {
      .table-banks__swipe-icon {
        display: -webkit-box !important;
        display: flex !important; } }
    @media only screen and (max-width: 600px) {
      .table-banks__swipe-icon {
        right: 15px; } }
  @media only screen and (max-width: 600px) {
    .table-banks__scroll-table {
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%; } }
  .table-banks__scroll-table::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .table-banks__body {
    width: 100%;
    border-collapse: collapse; }
    @media only screen and (max-width: 600px) {
      .table-banks__body {
        width: 600px;
        margin-top: 15px; } }
    @media only screen and (max-width: 500px) {
      .table-banks__body {
        width: 500px; } }
  .table-banks__row {
    z-index: 1;
    position: relative;
    width: 100%;
    display: table;
    background: #fff;
    margin-bottom: 6px; }
    .table-banks__row_head {
      background: none; }
      .table-banks__row_head .table-similar__row {
        background: none; }
      .table-banks__row_head .table-similar__cell_1 {
        font-weight: normal; }
  .table-banks__cell {
    z-index: 1;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 14%;
    font-size: 14px;
    color: #444646;
    padding: 18px 0 17px 0;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    @media only screen and (max-width: 900px) {
      .table-banks__cell {
        font-size: 13px;
        padding: 18px 5px;
        vertical-align: middle; } }
  .table-banks__cell_1 {
    width: 40%;
    padding-left: 25px; }
    @media only screen and (max-width: 900px) {
      .table-banks__cell_1 {
        padding-left: 15px; } }
    @media only screen and (max-width: 600px) {
      .table-banks__cell_1 {
        z-index: 10;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        width: 25%;
        background: #fff; } }
    @media only screen and (max-width: 500px) {
      .table-banks__cell_1 {
        width: 28%; } }
  .table-banks__cell_2 {
    width: 20%; }
    @media only screen and (max-width: 600px) {
      .table-banks__cell_2 {
        width: 15%; } }
  .table-banks__cell_3 {
    width: 20%; }
    @media only screen and (max-width: 600px) {
      .table-banks__cell_3 {
        width: 15%; } }
  .table-banks__cell_4 {
    width: 15%; }
  .table-banks__head {
    width: 100%;
    margin-bottom: -15px; }
    @media only screen and (max-width: 650px) {
      .table-banks__head {
        margin-bottom: -5px; } }
    @media only screen and (max-width: 600px) {
      .table-banks__head {
        width: 600px;
        margin-bottom: -15px; } }
    @media only screen and (max-width: 500px) {
      .table-banks__head {
        width: 500px; } }
    @media only screen and (max-width: 650px) {
      .table-banks__head .table-banks__cell {
        padding: 20px 5px 8px 5px; } }
    @media only screen and (max-width: 650px) {
      .table-banks__head .table-banks__cell_1 {
        background: #f2f2f2; } }
  .table-banks__head-title {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #949898; }
    @media only screen and (max-width: 900px) {
      .table-banks__head-title {
        letter-spacing: 0; } }
    @media only screen and (max-width: 650px) {
      .table-banks__head-title {
        font-size: 10px; } }
  .table-banks__link {
    position: relative;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    color: #f66036;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease; }
    .table-banks__link:hover {
      color: #f66036;
      text-decoration: underline;
      -webkit-transform: translateX(2px);
              transform: translateX(2px); }
