.photo-plan__head-title {
  text-align: center;
  margin-bottom: 20px; }

.photo-plan__wrap-img {
  display: block; }
  @media only screen and (max-width: 600px) {
    .photo-plan__wrap-img {
      margin: 0 -20px; } }

.photo-plan__img {
  width: 100%; }
