.callus {
  background: #f66036;
  padding: 50px 0; }
  @media only screen and (max-width: 800px) {
    .callus {
      padding: 40px 0; } }
  @media only screen and (max-width: 500px) {
    .callus {
      padding: 30px 0; } }
  .callus__container {
    max-width: 980px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: wrap; }
  .callus__col {
    flex-basis: 50%;
    max-width: 50%; }
    @media only screen and (max-width: 1200px) {
      .callus__col {
        text-align: center; } }
    @media only screen and (max-width: 800px) {
      .callus__col {
        flex-basis: 100%;
        max-width: 100%; } }
  .callus__title {
    color: #fff; }
  .callus__phone {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #fff;
    margin-top: 15px; }
    @media only screen and (max-width: 1200px) {
      .callus__phone {
        margin-top: 10px; } }
    @media only screen and (max-width: 1000px) {
      .callus__phone {
        font-size: 32px; } }
    @media only screen and (max-width: 800px) {
      .callus__phone {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 500px) {
      .callus__phone {
        font-size: 24px;
        letter-spacing: 0.02em;
        margin-top: 5px; } }
    .callus__phone:hover {
      color: #fff; }
  .callus__descr {
    line-height: 18px;
    color: #fff; }
    @media only screen and (max-width: 900px) {
      .callus__descr br {
        display: none; } }
    @media only screen and (max-width: 800px) {
      .callus__descr {
        font-size: 13px;
        max-width: 460px;
        margin: 0 auto; } }
