.card__breadcrumbs {
  margin-top: 30px; }
  @media only screen and (max-width: 1200px) {
    .card__breadcrumbs {
      margin-top: 20px; } }

.card__header-name {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 750px) {
    .card__header-name {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 1200px) {
    .card__header-name {
      margin-top: 15px; } }

@media only screen and (max-width: 500px) {
  .card__name {
    -webkit-box-ordinal-group: -3;
            order: -4;
    width: 100%; } }

.card__descr {
  font-size: 14px; }
  @media only screen and (max-width: 1200px) {
    .card__descr {
      font-size: 13px;
      line-height: 21px;
      letter-spacing: .5px; } }

.card__wrapper-rate {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }

.card__rate {
  margin-left: 20px;
  margin-right: 12px; }
  @media only screen and (max-width: 500px) {
    .card__rate {
      margin-left: 0; } }

.card__comments {
  font-size: 13px; }

.card__descr-block {
  margin-top: 0;
  margin-bottom: 10px; }
  @media only screen and (max-width: 500px) {
    .card__descr-block {
      margin-bottom: 30px; } }

.card__content {
  background: #f2f2f2;
  padding: 35px 0; }
  @media only screen and (max-width: 1200px) {
    .card__content {
      padding: 20px 0 35px 0; } }
  @media only screen and (max-width: 500px) {
    .card__content {
      padding: 0 0 20px 0; } }

.card__list-card-company {
  margin-top: 70px; }
  @media only screen and (max-width: 1200px) {
    .card__list-card-company {
      margin-top: 40px; } }
  @media only screen and (max-width: 500px) {
    .card__list-card-company {
      margin-top: 35px; } }

.card__offer {
  margin-top: 25px; }

.card__news-blog {
  margin-top: 45px;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1200px) {
    .card__news-blog {
      margin-top: 30px;
      margin-bottom: 40px; } }

.card__address {
  display: block;
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 18px;
  color: #f66036;
  letter-spacing: 0.03em; }
  @media only screen and (max-width: 500px) {
    .card__address {
      -webkit-box-ordinal-group: -2;
              order: -3;
      margin-top: 5px; } }
  .card__address span {
    color: #444646; }

.card__inline {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center; }

.card__phone {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px; }
  @media only screen and (max-width: 750px) {
    .card__phone {
      font-size: 16px;
      margin-left: 30px; } }
  @media only screen and (max-width: 500px) {
    .card__phone {
      -webkit-box-ordinal-group: -1;
              order: -2;
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
      margin-bottom: 12px;
      font-size: 14px; } }

.card__phone-numb {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700; }
  @media only screen and (max-width: 750px) {
    .card__phone-numb {
      font-size: 16px; } }
  @media only screen and (max-width: 500px) {
    .card__phone-numb {
      position: static;
      -webkit-box-ordinal-group: -1;
              order: -2;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 5px; } }

.card__logo {
  position: absolute;
  top: -5px;
  right: 30px;
  align-self: flex-end; }
  @media only screen and (max-width: 750px) {
    .card__logo {
      position: static;
      width: 100%;
      margin-bottom: 10px;
      -webkit-box-ordinal-group: -4;
              order: -5; } }
  @media only screen and (max-width: 500px) {
    .card__logo img {
      width: 60px; } }
