.recomend {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap; }
  .recomend__col {
    flex-basis: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    padding: 0 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 1650px) {
      .recomend__col {
        padding: 0 40px; } }
    @media only screen and (max-width: 800px) {
      .recomend__col {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0 15px; } }
  .recomend__price {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #f66036;
    line-height: 50px; }
    @media only screen and (max-width: 1200px) {
      .recomend__price {
        font-size: 30px; } }
  .recomend__big {
    font-size: 60px; }
    @media only screen and (max-width: 1200px) {
      .recomend__big {
        font-size: 50px; } }
  .recomend__kind {
    font-size: 24px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0; }
    @media only screen and (max-width: 1200px) {
      .recomend__kind {
        font-size: 22px; } }
  .recomend__btn {
    margin-top: 35px; }
    @media only screen and (max-width: 1200px) {
      .recomend__btn {
        margin-top: 20px; } }
