.dev-solo__breadcrumbs {
  margin-top: 20px; }
  @media only screen and (max-width: 1200px) {
    .dev-solo__breadcrumbs {
      margin-top: 20px; } }

.dev-solo__features {
  margin-top: 18px; }
  @media only screen and (max-width: 500px) {
    .dev-solo__features {
      margin-top: 0; } }

.dev-solo__company-preview {
  margin-top: 18px; }

.dev-solo__stock-btn {
  margin-top: 18px; }
