.onmap {
  position: relative;
  overflow: hidden; }
  .onmap__header {
    padding: 15px 0 20px 0; }
    @media only screen and (max-width: 500px) {
      .onmap__header {
        padding: 0 0 20px 0; } }
  .onmap__title {
    margin-top: 10px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 900px) {
      .onmap__title {
        margin-top: 15px; } }
    @media only screen and (max-width: 500px) {
      .onmap__title {
        margin-top: 20px; } }
  .onmap__descr {
    line-height: 21px;
    letter-spacing: 0.5px;
    margin: 0; }
    @media only screen and (max-width: 500px) {
      .onmap__descr {
        font-size: 13px; } }
  .onmap__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 20px 0;
    background-color: #e8e8e8; }
    @media only screen and (max-width: 800px) {
      .onmap__content {
        padding: 0; } }

.filter-map {
  background-color: #e8e8e8; }
  .filter-map__inner {
    z-index: 2;
    position: relative;
    padding: 20px 0 20px 0; }
  .filter-map__opts {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 1200px) {
      .filter-map__opts {
        flex-wrap: wrap; } }
  .filter-map__col-1 {
    flex-basis: 135px;
    max-width: 135px;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0; }
    @media only screen and (max-width: 1200px) {
      .filter-map__col-1 {
        flex-basis: 33.333%;
        max-width: 33.3333%; } }
    @media only screen and (max-width: 800px) {
      .filter-map__col-1 {
        flex-basis: 50%;
        max-width: 50%; } }
    @media only screen and (max-width: 600px) {
      .filter-map__col-1 {
        -webkit-box-ordinal-group: 0;
                order: -1; } }
  .filter-map__col-2 {
    position: relative;
    flex-basis: 260px;
    max-width: 260px;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0; }
    @media only screen and (max-width: 1200px) {
      .filter-map__col-2 {
        flex-basis: 33.333%;
        max-width: 33.3333%; } }
    @media only screen and (max-width: 800px) {
      .filter-map__col-2 {
        flex-basis: 50%;
        max-width: 50%; } }
    @media only screen and (max-width: 600px) {
      .filter-map__col-2 {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 5px; } }
    .filter-map__col-2:after {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      right: 0;
      display: block;
      content: "";
      width: 1px;
      height: 32px;
      background: #cecece; }
      @media only screen and (max-width: 800px) {
        .filter-map__col-2:after {
          display: none; } }
  .filter-map__col-3 {
    position: relative; }
    @media only screen and (max-width: 1200px) {
      .filter-map__col-3 {
        flex-basis: 33.333%;
        max-width: 33.3333%; } }
    @media only screen and (max-width: 800px) {
      .filter-map__col-3 {
        flex-basis: 50%;
        max-width: 50%;
        margin-top: 5px; } }
    @media only screen and (max-width: 600px) {
      .filter-map__col-3 {
        flex-basis: 50%;
        max-width: 50%;
        margin-top: 0;
        -webkit-box-ordinal-group: 0;
                order: -1; } }
    .filter-map__col-3:after {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      right: 0;
      display: block;
      content: "";
      width: 1px;
      height: 32px;
      background: #cecece; }
      @media only screen and (max-width: 1200px) {
        .filter-map__col-3:after {
          display: none; } }
      @media only screen and (max-width: 800px) {
        .filter-map__col-3:after {
          display: block; } }
      @media only screen and (max-width: 600px) {
        .filter-map__col-3:after {
          right: auto;
          left: -1px; } }
  .filter-map__col-4 {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    @media only screen and (max-width: 1200px) {
      .filter-map__col-4 {
        flex-basis: 33.333%;
        max-width: 33.3333%;
        margin-top: 5px; } }
    @media only screen and (max-width: 800px) {
      .filter-map__col-4 {
        flex-basis: 50%;
        max-width: 50%; } }
    @media only screen and (max-width: 600px) {
      .filter-map__col-4 {
        flex-basis: 100%;
        max-width: 100%; } }
    .filter-map__col-4:after {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      right: 0;
      display: block;
      content: "";
      width: 1px;
      height: 32px;
      background: #cecece; }
      @media only screen and (max-width: 800px) {
        .filter-map__col-4:after {
          display: none; } }
      @media only screen and (max-width: 600px) {
        .filter-map__col-4:after {
          right: 50%;
          display: block; } }
  .filter-map__col-5 {
    position: relative; }
    @media only screen and (max-width: 1200px) {
      .filter-map__col-5 {
        flex-basis: 33.333%;
        max-width: 33.3333%;
        margin-top: 5px; } }
    @media only screen and (max-width: 800px) {
      .filter-map__col-5 {
        flex-basis: 50%;
        max-width: 50%; } }
    @media only screen and (max-width: 600px) {
      .filter-map__col-5 {
        flex-basis: 100%;
        max-width: 100%; } }
    .filter-map__col-5:after {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      right: 0;
      display: none;
      content: "";
      width: 1px;
      height: 32px;
      background: #cecece; }
      @media only screen and (max-width: 800px) {
        .filter-map__col-5:after {
          display: block; } }
      @media only screen and (max-width: 600px) {
        .filter-map__col-5:after {
          display: none; } }
  .filter-map__col-6 {
    -webkit-box-flex: 1;
            flex-grow: 1; }
    @media only screen and (max-width: 1200px) {
      .filter-map__col-6 {
        flex-basis: 33.333%;
        max-width: 33.3333%;
        margin-top: 5px; } }
    @media only screen and (max-width: 800px) {
      .filter-map__col-6 {
        flex-basis: 50%;
        max-width: 50%; } }
    @media only screen and (max-width: 600px) {
      .filter-map__col-6 {
        flex-basis: 100%;
        max-width: 100%; } }
  .filter-map__on-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 0;
            flex-grow: 0;
    height: 54px;
    line-height: 54px;
    padding: 0 35px;
    background: #fff;
    color: #444646; }
    @media only screen and (max-width: 900px) {
      .filter-map__on-list {
        flex-basis: 50%;
        max-width: 50%;
        height: 42px;
        font-size: 13px; } }
    @media only screen and (max-width: 500px) {
      .filter-map__on-list {
        flex-basis: 35%;
        max-width: 35%;
        padding: 0; } }
    .filter-map__on-list:hover {
      background: #fff;
      color: #444646;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
      -webkit-transform: translate3d(0, 2px, 0);
              transform: translate3d(0, 2px, 0); }
  .filter-map__icon-on-list {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-right: 10px; }
    @media only screen and (max-width: 600px) {
      .filter-map__icon-on-list {
        margin-right: 5px; } }
    .filter-map__icon-on-list span {
      display: block;
      width: 20px;
      height: 2px;
      background: #f66036;
      margin: 1px 0; }
      @media only screen and (max-width: 600px) {
        .filter-map__icon-on-list span {
          width: 14px; } }
  .filter-map__footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap; }
  .filter-map__btns {
    margin-top: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    @media only screen and (max-width: 900px) {
      .filter-map__btns {
        -webkit-box-ordinal-group: 0;
                order: -1;
        flex-basis: 100%;
        max-width: 100%; } }
  .filter-map__submit {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 0;
            flex-grow: 0;
    height: 54px;
    padding: 0 23px;
    background: #f66036;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    @media only screen and (max-width: 900px) {
      .filter-map__submit {
        flex-basis: 50%;
        max-width: 50%;
        height: 42px;
        font-size: 13px; } }
    @media only screen and (max-width: 500px) {
      .filter-map__submit {
        flex-basis: 65%;
        max-width: 65%;
        padding: 0;
        letter-spacing: -0.6px; } }
    .filter-map__submit:hover {
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
      -webkit-transform: translate3d(0, 2px, 0);
              transform: translate3d(0, 2px, 0); }
  .filter-map__tags {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 65%;
    max-width: 65%;
    margin-top: 10px;
    margin-bottom: -10px; }
    @media only screen and (max-width: 1200px) {
      .filter-map__tags {
        margin-top: 5px;
        margin-bottom: 0;
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (max-width: 900px) {
      .filter-map__tags {
        -webkit-box-ordinal-group: -1;
                order: -2; } }
  .filter-map__tags-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    color: #fff;
    background: rgba(24, 26, 26, 0.7);
    height: 54px;
    padding: 0 20px;
    margin-bottom: 10px;
    margin-right: 10px; }
    @media only screen and (max-width: 1200px) {
      .filter-map__tags-item {
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 0 15px; } }
    @media only screen and (max-width: 900px) {
      .filter-map__tags-item {
        height: 42px;
        line-height: 42px; } }
    @media only screen and (max-width: 500px) {
      .filter-map__tags-item {
        -webkit-box-pack: justify;
                justify-content: space-between;
        width: 100%;
        margin-right: 0; } }
  .filter-map__tags-close {
    display: -webkit-inline-box;
    display: inline-flex; }
  .filter-map__tags-icon {
    width: 12px;
    height: 12px;
    margin-left: 20px;
    fill: rgba(255, 255, 255, 0.6); }

.filter-price-map {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }
  .filter-price-map__input {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-basis: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-family: "Open Sans", "Arial", sans-serif;
    background: #fff;
    border: none;
    border-radius: 0;
    height: 54px;
    text-align: center;
    padding: 0 10px; }
    @media only screen and (max-width: 900px) {
      .filter-price-map__input {
        padding: 0 10px;
        height: 42px; } }
    .filter-price-map__input_from {
      flex-basis: 45%;
      max-width: 45%;
      padding: 0 10px; }
      @media only screen and (max-width: 900px) {
        .filter-price-map__input_from {
          flex-basis: 50%;
          max-width: 50%;
          padding: 0 10px; } }
    .filter-price-map__input_to {
      flex-basis: 55%;
      max-width: 55%;
      padding: 0 10px; }
      @media only screen and (max-width: 900px) {
        .filter-price-map__input_to {
          flex-basis: 50%;
          max-width: 50%; } }
    .filter-price-map__input::-webkit-input-placeholder {
      color: rgba(68, 70, 70, 0.6);
      opacity: 1; }
    .filter-price-map__input::-moz-placeholder {
      color: rgba(68, 70, 70, 0.6);
      opacity: 1; }
    .filter-price-map__input:-ms-input-placeholder {
      color: rgba(68, 70, 70, 0.6);
      opacity: 1; }
    .filter-price-map__input::-ms-input-placeholder {
      color: rgba(68, 70, 70, 0.6);
      opacity: 1; }
    .filter-price-map__input::placeholder {
      color: rgba(68, 70, 70, 0.6);
      opacity: 1; }
    .filter-price-map__input:-ms-input-placeholder {
      color: rgba(68, 70, 70, 0.6); }
    .filter-price-map__input::-ms-input-placeholder {
      color: rgba(68, 70, 70, 0.6); }
  .filter-price-map__line {
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: block;
    width: 16px;
    height: 1px;
    background: #444646; }
    @media only screen and (max-width: 900px) {
      .filter-price-map__line {
        left: 50%;
        width: 10px; } }
    @media only screen and (max-width: 500px) {
      .filter-price-map__line {
        width: 16px; } }

.decoration {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  background: #fff;
  height: 54px; }
  @media only screen and (max-width: 900px) {
    .decoration {
      height: 42px; } }
  .decoration__item {
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    padding: 0 12px; }
    @media only screen and (max-width: 1200px) {
      .decoration__item {
        padding: 0 15px; } }
    @media only screen and (max-width: 800px) {
      .decoration__item {
        flex-basis: 50%;
        max-width: 50%;
        padding-right: 0;
        padding-left: 12px; } }
  .decoration__field {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .decoration__input {
    display: none; }
  .decoration__text {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    font-size: 13px;
    line-height: 11px; }
  .decoration__box {
    position: relative;
    content: "";
    display: block;
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #c9c9c9;
    margin-right: 5px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
  .decoration__arrow {
    position: absolute;
    top: 2px;
    left: 4px;
    content: '';
    display: block;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden; }
  .decoration__input:checked + .decoration__box {
    background: #f66036;
    border-color: #f66036; }
  .decoration__input:checked + .decoration__box .decoration__arrow {
    opacity: 1;
    visibility: visible; }

.marker {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 11px;
  background: #f66036;
  width: 100px;
  height: 22px; }
  .marker:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f66036; }
  .marker__circle {
    width: 18px;
    height: 18px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border-radius: 50%;
    background: #fff;
    margin-left: 2px; }
  .marker__text {
    color: #fff;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 10px; }

.map_open .map__elem {
  width: calc(100% - 280px); }
  @media only screen and (max-width: 800px) {
    .map_open .map__elem {
      width: 100%; } }

.map_open .map__onmap-info {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg); }
  @media only screen and (max-width: 800px) {
    .map_open .map__onmap-info {
      -webkit-transform: rotateY(0deg) translateX(-50%);
              transform: rotateY(0deg) translateX(-50%); } }

.map__wrapper {
  position: relative;
  width: 100%;
  height: 480px; }
  @media only screen and (max-width: 800px) {
    .map__wrapper {
      display: block;
      width: auto;
      margin: 0 -20px; } }

.map__elem {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.map__onmap-info {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media only screen and (max-width: 800px) {
    .map__onmap-info {
      top: auto;
      left: 50%;
      -webkit-transform: rotateY(90deg) translateX(-50%);
              transform: rotateY(90deg) translateX(-50%);
      bottom: 60px; } }

.onmap-info {
  width: 280px;
  height: 100%;
  background: #fff; }
  @media only screen and (max-width: 800px) {
    .onmap-info {
      height: auto; } }
  @media only screen and (max-width: 800px) {
    .onmap-info__hidde-on-mobile {
      display: none; } }
  .onmap-info__inline-descr-mobile {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 5px; }
    @media only screen and (max-width: 800px) {
      .onmap-info__inline-descr-mobile {
        display: -webkit-box;
        display: flex; } }
  .onmap-info__price {
    font-size: 13px;
    white-space: nowrap; }
  .onmap-info__address {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    font-size: 13px; }
    .onmap-info__address:before {
      display: inline-block;
      content: "";
      width: 1px;
      height: 18px;
      background: #c8c8c8;
      margin: 0 15px;
      flex-shrink: 0; }
  @media only screen and (max-width: 800px) {
    .onmap-info__img-preview {
      height: 100px; } }
  .onmap-info__call {
    width: 100%;
    height: 34px;
    background: #dedede;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: #444646;
    margin-top: 10px;
    margin-bottom: 15px; }
    @media only screen and (max-width: 800px) {
      .onmap-info__call {
        display: -webkit-box;
        display: flex; } }
    .onmap-info__call:hover {
      color: #fff;
      background: #f66036; }
