.card__breadcrumbs {
  margin-top: 30px; }
  @media only screen and (max-width: 1200px) {
    .card__breadcrumbs {
      margin-top: 20px; } }

.card__header-name {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: -5px; }
  @media only screen and (max-width: 1200px) {
    .card__header-name {
      margin-top: 15px; } }
  @media only screen and (max-width: 500px) {
    .card__header-name {
      flex-wrap: wrap; } }

@media only screen and (max-width: 500px) {
  .card__name {
    width: 100%;
    margin-bottom: 5px; } }

.card__descr {
  font-size: 14px; }
  @media only screen and (max-width: 1200px) {
    .card__descr {
      font-size: 13px;
      line-height: 21px;
      letter-spacing: .5px; } }

.card__rate {
  margin-left: 20px;
  margin-right: 12px; }
  @media only screen and (max-width: 500px) {
    .card__rate {
      margin-left: 0; } }

.card__comments {
  font-size: 13px; }

.card__descr-block {
  margin-top: 0;
  margin-bottom: 10px; }
  @media only screen and (max-width: 500px) {
    .card__descr-block {
      margin-bottom: 30px; } }

.card__content {
  background: #f2f2f2;
  padding: 35px 0; }
  @media only screen and (max-width: 1200px) {
    .card__content {
      padding: 20px 0 35px 0; } }
  @media only screen and (max-width: 500px) {
    .card__content {
      padding: 0 0 20px 0; } }

.card__list-card-company {
  margin-top: 70px; }
  @media only screen and (max-width: 1200px) {
    .card__list-card-company {
      margin-top: 40px; } }
  @media only screen and (max-width: 500px) {
    .card__list-card-company {
      margin-top: 35px; } }

.card__offer {
  margin-top: 25px; }

.card__news-blog {
  margin-top: 45px;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1200px) {
    .card__news-blog {
      margin-top: 30px;
      margin-bottom: 40px; } }
  @media only screen and (max-width: 500px) {
    .card__news-blog {
      display: none; } }

.thumbs-about {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background: #fff; }
  @media only screen and (max-width: 500px) {
    .thumbs-about {
      margin: 0 -20px;
      border-top: 1px solid #cecece; } }
  .thumbs-about__logo {
    display: block;
    margin: 35px auto; }
    @media only screen and (max-width: 500px) {
      .thumbs-about__logo {
        max-width: 120px;
        margin: 35px auto 25px auto; } }
  .thumbs-about__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding: 0 100px;
    padding-bottom: 35px; }
    @media only screen and (max-width: 1200px) {
      .thumbs-about__row {
        padding: 0 40px 40px 40px; } }
    @media only screen and (max-width: 800px) {
      .thumbs-about__row {
        padding: 0 20px 40px 20px; } }
    @media only screen and (max-width: 500px) {
      .thumbs-about__row {
        padding: 0 20px 30px 20px; } }
  .thumbs-about__col {
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    padding: 0 5px; }
    .thumbs-about__col_25 {
      flex-basis: 25%;
      max-width: 25%; }
      @media only screen and (max-width: 800px) {
        .thumbs-about__col_25 {
          flex-basis: 50%;
          max-width: 50%;
          margin-bottom: 10px; } }
      @media only screen and (max-width: 500px) {
        .thumbs-about__col_25 {
          flex-basis: 100%;
          max-width: 100%;
          margin-bottom: 7px; } }
    .thumbs-about__col_50 {
      flex-basis: 50%;
      max-width: 50%; }
      @media only screen and (max-width: 500px) {
        .thumbs-about__col_50 {
          flex-basis: 100%;
          max-width: 100%; } }
  @media only screen and (max-width: 500px) {
    .thumbs-about__hidden-mobile {
      display: none; } }
  .thumbs-about__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    background: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 20px; }
    @media only screen and (max-width: 500px) {
      .thumbs-about__item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: start;
                justify-content: flex-start;
        padding: 14px 0; } }
  .thumbs-about__number {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2px; }
    @media only screen and (max-width: 500px) {
      .thumbs-about__number {
        font-size: 18px;
        margin-bottom: 0;
        width: 60px;
        margin: 0 25px 0 20px; } }
  .thumbs-about__descr {
    font-size: 14px;
    line-height: 19px; }
    @media only screen and (max-width: 1000px) {
      .thumbs-about__descr {
        font-size: 13px;
        line-height: normal; } }
    @media only screen and (max-width: 500px) {
      .thumbs-about__descr br {
        display: none; } }
  .thumbs-about__title {
    font-size: 14px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    color: #8d8d8d;
    margin-top: 20px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 1000px) {
      .thumbs-about__title {
        font-size: 13px; } }
    @media only screen and (max-width: 800px) {
      .thumbs-about__title {
        margin-top: 10px; } }
    @media only screen and (max-width: 500px) {
      .thumbs-about__title {
        margin-top: 12px;
        margin-bottom: 3px; } }
  @media only screen and (max-width: 1000px) {
    .thumbs-about__address {
      font-size: 13px; } }
  @media only screen and (max-width: 500px) {
    .thumbs-about__address {
      margin-bottom: 8px; } }
  @media only screen and (max-width: 1000px) {
    .thumbs-about__phone {
      font-size: 13px; } }

.list-card-company_active .list-card-company__hidden-content {
  display: block; }

.list-card-company__hidden-content {
  display: none; }

.list-card-company__show-more {
  width: 100%;
  flex-basis: calc(25% - 15px);
  max-width: calc(25% - 15px);
  margin-top: 10px; }
  @media only screen and (max-width: 1200px) {
    .list-card-company__show-more {
      flex-basis: calc(33.3333% - 10px);
      max-width: calc(33.3333% - 10px); } }
  @media only screen and (max-width: 900px) {
    .list-card-company__show-more {
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px); } }
  @media only screen and (max-width: 600px) {
    .list-card-company__show-more {
      flex-basis: 100%;
      max-width: 100%; } }
  @media only screen and (max-width: 500px) {
    .list-card-company__show-more {
      margin-top: 0; } }

.comments {
  border-top: 1px solid #e8e8e8; }
  .comments__title {
    margin-top: 35px; }
    @media only screen and (max-width: 1200px) {
      .comments__title {
        margin-top: 30px; } }
  .comments__inner {
    max-width: 980px; }
  .comments__list-comments {
    margin-top: -10px;
    margin-bottom: -10px; }
    @media only screen and (max-width: 1200px) {
      .comments__list-comments {
        margin-top: -5px;
        margin-bottom: 30px; } }

.list-comments_active .list-comments__hidden-content {
  display: block; }

.list-comments__item {
  margin: 40px 0; }
  @media only screen and (max-width: 1200px) {
    .list-comments__item {
      margin: 25px 0; } }

.list-comments__head {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }

.list-comments__autor {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  color: #444646;
  margin-right: 20px; }
  @media only screen and (max-width: 500px) {
    .list-comments__autor {
      font-size: 13px;
      margin-right: 10px; } }

.list-comments__descr {
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  margin-bottom: 0; }
  @media only screen and (max-width: 1200px) {
    .list-comments__descr {
      font-size: 13px; } }

.list-comments__hidden-content {
  display: none; }

.list-comments__read-more {
  position: relative;
  top: -8px;
  display: none;
  border-bottom: 1px dotted #f66036; }
  @media only screen and (max-width: 600px) {
    .list-comments__read-more {
      font-size: 13px; } }
  @media only screen and (max-width: 500px) {
    .list-comments__read-more {
      display: -webkit-inline-box;
      display: inline-flex; } }
  .list-comments__read-more:hover {
    border-color: transparent; }

.feedback {
  background: #F2F2F2; }
  @media only screen and (max-width: 500px) {
    .feedback {
      margin: 0 -20px; } }
  .feedback__inner {
    padding: 30px 40px 45px 40px;
    margin-bottom: 50px; }
    @media only screen and (max-width: 900px) {
      .feedback__inner {
        padding: 30px 20px 45px 20px; } }
    @media only screen and (max-width: 500px) {
      .feedback__inner {
        margin-bottom: 0;
        padding: 30px 20px 30px 20px; } }
  .feedback__title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px; }
    @media only screen and (max-width: 500px) {
      .feedback__title {
        font-size: 16px;
        letter-spacing: 0.3px; } }
  .feedback__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px; }
    @media only screen and (max-width: 1200px) {
      .feedback__row {
        margin: 0 -5px; } }
  .feedback__col {
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0;
    padding: 0 10px; }
    @media only screen and (max-width: 1200px) {
      .feedback__col {
        padding: 0 5px; } }
    @media only screen and (max-width: 800px) {
      .feedback__col {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 10px; } }
  .feedback__name {
    width: 100%;
    height: 54px;
    border: none;
    padding: 0 23px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #444646; }
    @media only screen and (max-width: 1200px) {
      .feedback__name {
        padding: 0 15px;
        font-size: 13px;
        letter-spacing: 0; } }
    @media only screen and (max-width: 900px) {
      .feedback__name {
        height: 42px; } }
  .feedback__message {
    width: 100%;
    height: 114px;
    border: none;
    padding: 15px 23px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #444646;
    margin-top: 20px; }
    @media only screen and (max-width: 1200px) {
      .feedback__message {
        margin-top: 10px;
        padding: 15px 15px;
        font-size: 13px;
        letter-spacing: 0; } }
    @media only screen and (max-width: 800px) {
      .feedback__message {
        margin-top: 12px; } }
  .feedback__footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 25px; }
    @media only screen and (max-width: 800px) {
      .feedback__footer {
        margin-top: 20px; } }
    @media only screen and (max-width: 600px) {
      .feedback__footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: start;
                align-items: flex-start; } }
  .feedback__btn {
    padding: 0 70px;
    margin-left: 45px; }
    @media only screen and (max-width: 800px) {
      .feedback__btn {
        margin-left: 20px;
        padding: 0 40px; } }
    @media only screen and (max-width: 600px) {
      .feedback__btn {
        margin-left: 0;
        margin-top: 20px; } }
    @media only screen and (max-width: 500px) {
      .feedback__btn {
        height: 54px;
        padding: 0;
        width: 100%; } }

.pick-rate {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  background: #fff;
  height: 54px;
  padding: 0 23px; }
  @media only screen and (max-width: 1200px) {
    .pick-rate {
      padding: 0 15px; } }
  @media only screen and (max-width: 900px) {
    .pick-rate {
      height: 42px; } }
  @media only screen and (max-width: 800px) {
    .pick-rate {
      height: auto;
      background: none;
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: start;
              align-items: flex-start; } }
  .pick-rate__descr {
    margin: 0;
    margin-right: 10px;
    letter-spacing: 0.5px; }
    @media only screen and (max-width: 1200px) {
      .pick-rate__descr {
        font-size: 13px;
        letter-spacing: 0; } }
    @media only screen and (max-width: 800px) {
      .pick-rate__descr {
        letter-spacing: 0.3px;
        margin-top: 8px;
        margin-bottom: -3px; } }
  .pick-rate__inner {
    float: left; }
  .pick-rate__input {
    position: absolute;
    top: -9999px;
    opacity: 0;
    visibility: hidden; }
  .pick-rate__label {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 26px;
    color: #d1d1d1;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    @media only screen and (max-width: 500px) {
      .pick-rate__label {
        font-size: 26px; } }
    .pick-rate__label_checked {
      color: #f66036; }

.pick-rate__inner > .pick-rate__input:checked ~ .pick-rate__label {
  color: #f66036; }

.pick-rate__inner > .pick-rate__label:hover,
.pick-rate__inner > .pick-rate__label:hover ~ .pick-rate__label {
  color: #f66036; }
