.article__breadcrumbs {
  margin-top: 15px; }

.article__head {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 40px; }
  @media only screen and (max-width: 1000px) {
    .article__head {
      margin-top: 30px; } }
  @media only screen and (max-width: 700px) {
    .article__head {
      flex-wrap: wrap;
      margin-top: 10px; } }

.article__col-left {
  padding-right: 80px;
  -webkit-box-flex: 1;
          flex-grow: 1; }
  @media only screen and (max-width: 1000px) {
    .article__col-left {
      padding-right: 20px; } }
  @media only screen and (max-width: 700px) {
    .article__col-left {
      flex-basis: 100%;
      max-width: 100%;
      padding-right: 0; } }

.article__col-right {
  flex-basis: 380px;
  max-width: 380px;
  width: 100%;
  flex-shrink: 0;
  margin-top: 10px; }
  @media only screen and (max-width: 1000px) {
    .article__col-right {
      flex-basis: 280px;
      max-width: 280px; } }
  @media only screen and (max-width: 700px) {
    .article__col-right {
      flex-basis: 100%;
      max-width: 100%;
      -webkit-box-ordinal-group: 0;
              order: -1; } }

.article__title {
  margin-bottom: 30px; }
  @media only screen and (max-width: 1000px) {
    .article__title {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 700px) {
    .article__title {
      display: none; } }
  .article__title_mobile {
    display: none; }
    @media only screen and (max-width: 700px) {
      .article__title_mobile {
        display: block;
        margin-bottom: 20px; } }

.article__descr {
  line-height: 21px;
  letter-spacing: 0.4px;
  margin-top: 20px; }
  @media only screen and (max-width: 1000px) {
    .article__descr {
      font-size: 13px; } }

.article__save-doc {
  margin-top: 30px; }
  @media only screen and (max-width: 1000px) {
    .article__save-doc {
      margin-top: 20px; } }
  @media only screen and (max-width: 500px) {
    .article__save-doc {
      margin-top: 10px; } }

.article__footer {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  border-top: 1px solid #CECECE;
  margin-top: 45px;
  padding-top: 25px;
  padding-bottom: 30px; }
  @media only screen and (max-width: 1000px) {
    .article__footer {
      margin-top: 30px;
      padding: 20px 0; } }
  @media only screen and (max-width: 700px) {
    .article__footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: start;
              justify-content: flex-start;
      padding: 20px 0; } }
  @media only screen and (max-width: 500px) {
    .article__footer {
      -webkit-box-align: start;
              align-items: flex-start;
      width: auto;
      margin: 0 -20px;
      margin-top: 15px;
      padding: 20px;
      padding-bottom: 15px; } }

.article__popular {
  padding-top: 60px;
  padding-bottom: 40px; }
  @media only screen and (max-width: 1200px) {
    .article__popular {
      padding-top: 40px;
      padding-bottom: 30px; } }
  @media only screen and (max-width: 1000px) {
    .article__popular {
      padding-top: 35px;
      padding-bottom: 0; } }

.article__figure {
  margin: 0;
  padding: 50px 40px; }
  @media only screen and (max-width: 1000px) {
    .article__figure {
      padding: 20px; } }
  @media only screen and (max-width: 500px) {
    .article__figure {
      margin: 0 -20px; } }

.figure {
  background: #f2f2f2; }
  .figure__img {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    margin: 0 auto; }
    @media only screen and (max-width: 700px) {
      .figure__img {
        width: 100%; } }
  .figure__caption {
    text-align: center;
    margin-top: 20px; }
    @media only screen and (max-width: 1000px) {
      .figure__caption {
        font-size: 13px;
        margin-top: 15px; } }

.save-doc:hover .save-doc__text {
  border-color: transparent; }

.save-doc__svg {
  width: 32px;
  height: 32px;
  fill: #afafaf;
  margin-right: 10px; }

.save-doc__text {
  border-bottom: 1px dashed #f66036; }
  @media only screen and (max-width: 1000px) {
    .save-doc__text {
      font-size: 13px; } }

.mistake {
  letter-spacing: 0.5px; }
  @media only screen and (max-width: 1000px) {
    .mistake {
      font-size: 13px; } }
  .mistake__link {
    display: inline;
    border-bottom: 1px dashed transparent; }
    @media only screen and (max-width: 500px) {
      .mistake__link {
        display: block; } }
    .mistake__link:hover {
      border-color: #f66036; }

.rate-article {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }
  @media only screen and (max-width: 500px) {
    .rate-article {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: start;
              align-items: flex-start; } }
  .rate-article__descr {
    letter-spacing: 0.5px;
    margin: 0;
    margin-right: 20px; }
    @media only screen and (max-width: 1000px) {
      .rate-article__descr {
        font-size: 13px;
        margin-right: 10px; } }
  .rate-article__rating {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    @media only screen and (max-width: 500px) {
      .rate-article__rating {
        margin-top: 10px;
        margin-bottom: 10px; } }
  .rate-article__link {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 80px;
    height: 42px;
    border: 1px solid #cecece; }
    @media only screen and (max-width: 500px) {
      .rate-article__link {
        background: #f2f2f2; } }
    .rate-article__link:last-child {
      border-left: none; }
    .rate-article__link:hover .rate-article__icon_dislike {
      fill: #eb5c5d; }
    .rate-article__link:hover .rate-article__icon_like {
      fill: #27c330; }
    .rate-article__link_active .rate-article__icon_dislike {
      fill: #eb5c5d; }
    .rate-article__link_active .rate-article__icon_like {
      fill: #27c330; }
  .rate-article__icon {
    width: 22px;
    height: 22px;
    fill: #9c9c9c;
    margin-right: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
  .rate-article__text {
    color: #444646; }
    @media only screen and (max-width: 1000px) {
      .rate-article__text {
        font-size: 13px; } }
