.special__breadcrumbs {
  margin-top: 15px; }

.special__title {
  margin-top: 30px; }
  @media only screen and (max-width: 1200px) {
    .special__title {
      margin-top: 25px; } }
  .special__title_last {
    margin-top: 45px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 1200px) {
      .special__title_last {
        margin-top: 30px;
        margin-bottom: 10px; } }

.special__descr {
  line-height: 21px;
  letter-spacing: 0.5px; }
  @media only screen and (max-width: 1000px) {
    .special__descr {
      font-size: 13px; } }

.special__list-specials {
  margin-top: 35px; }
  @media only screen and (max-width: 1200px) {
    .special__list-specials {
      margin-top: 20px; } }
  @media only screen and (max-width: 500px) {
    .special__list-specials {
      margin-top: 35px; } }

.list-specials_active .list-specials__hidden-content {
  display: -webkit-box;
  display: flex; }

.list-specials__inner {
  padding-top: 20px;
  padding-bottom: 50px; }
  @media only screen and (max-width: 500px) {
    .list-specials__inner {
      padding-top: 15px;
      padding-bottom: 20px; } }

.list-specials__hidden-content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%; }

.list-specials__title {
  margin-top: 30px;
  margin-bottom: -10px; }
  @media only screen and (max-width: 1200px) {
    .list-specials__title {
      margin-top: 15px; } }

.list-specials__inner-btn {
  margin-top: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center; }
  @media only screen and (max-width: 500px) {
    .list-specials__inner-btn {
      margin-top: 0; } }

.list-specials__show-more {
  flex-basis: calc(25% - 15px);
  max-width: calc(25% - 15px); }
  @media only screen and (max-width: 1200px) {
    .list-specials__show-more {
      flex-basis: calc(33.3333% - 10px);
      max-width: calc(33.3333% - 10px); } }
  @media only screen and (max-width: 900px) {
    .list-specials__show-more {
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px); } }
  @media only screen and (max-width: 600px) {
    .list-specials__show-more {
      flex-basis: 100%;
      max-width: 100%; } }
